/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #F0ECE4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

html {
  padding: 0;
  overflow-y: scroll;
}
